<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="DataCite - " />
    <meta name="author" content="DataCite Team" />

    <title><%= current_page.data.title || "DataCite" %></title>

    <link 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" 
      rel="stylesheet"
      crossorigin="anonymous" />
    <link
      href="//fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/stylesheets/homepage.css?version=1.0.60"
      rel="stylesheet"
      type="text/css"
    />

    <%= favicon_tag 'favicon.ico' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.statuspage.io/se-v2.js"></script>    
    <script type="text/javascript">
      $(document).ready(function() {
        var images = [
          "cern.jpg",
          "dryad.jpg",
          "moorea.jpg",
          "ethz.jpg",
          "ethz2.jpg",
          "rutgers.jpg",
          "figshare.jpg"
        ];

        $(".randimg").css({
          "background-image":
            "url(images/banner_" +
            images[Math.floor(Math.random() * images.length)] +
            ")"
        });
      });
    </script>
  </head>

  <body>
    <%= partial "includes/header.html.erb" %> 
    <%= yield %> 
    <%= partial "includes/footer.html.erb" %> 
    <%= partial "includes/javascripts.html.erb" %>
    <%= partial "includes/google_analytics.html.erb" %>
  </body>
</html>
