<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="DataCite - ">
  <meta name="author" content="DataCite Team">

  <title><%= current_page.data.title || "DataCite" %></title>

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag 'homepage' %>
  <%= favicon_tag 'favicon.gif' %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <% if ENV['BUGSNAG_JS_KEY'] %>
    <script
      src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js"
      data-apikey="<%= ENV['BUGSNAG_JS_KEY'] %>">
    </script>
  <% end %>

	<script type="text/javascript">
    $(document).ready(function() {
        var images = ['cern.jpg', 'dryad.jpg', 'erara.jpg', 'ethz.jpg', 'ethz2.jpg', 'rutgers.jpg'];

        $('.randimg').css({'background-image': 'url(images/home_' + images[Math.floor(Math.random() * images.length)] + ')'});
    });
	</script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">About us <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'What we do', 'mission.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Board', 'board.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Steering groups', 'steering.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Staff', 'staff.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Job opportunities', 'jobopportunities.html' %> </li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Services <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Assign DOIs', 'dois.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Metadata search', 'search.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Event data', 'eventdata.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Profiles', 'profiles.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 're3data', 're3data.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Citation formatter', 'citation.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Statistics', 'stats.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Service status', 'service.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Content negotiation', 'content.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'OAI-PMH', 'oaipmh.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Test environment', 'test.html' %></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Resources <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Metadata schema', 'http://schema.datacite.org' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Technical documentation', 'technical.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Outreach material', 'outreach.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Events', 'events.html' %></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Community <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Members', 'members.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Partners', 'partners.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Steering groups', 'steering.html' %></li><li role="separator" class="divider"></li>
							<li><%= link_to 'Events', 'events.html' %>	</li>
						</ul>
					</li>

					<li class="active"><%= link_to 'Become a member', 'become.html' %><span class="sr-only">(current)</span></a></li>

					<li>
					<% link_to 'contact.html' do %>
					  <i class="fa fa-envelope fa-lg"></i>
					<% end %>
					</li>

					<li>
					<% link_to 'http://blog.datacite.org' do %>
					  <i class="fa fa-pencil-square-o fa-lg"></i>
					<% end %>
					</li>

					<li>
					<% link_to 'http://twitter.com/datacite' do %>
					  <i class="fa fa-twitter fa-lg"></i>
					<% end %>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<%= yield %>

    <footer>
		<div class="container-fluid bg-primary">
			<div class="container">
				<div class="col-md-3 col-sm-3">
					<h4>About DataCite</h4>
					<%= link_to 'What we do', 'mission.html' %><br />
					<%= link_to 'Board', 'board.html' %><br />
					<%= link_to 'Steering groups', 'steering.html' %><br />
					<%= link_to 'Staff', 'staff.html' %><br />
					<%= link_to 'Job opportunities', 'jobopportunities.html' %> <br /><br />
				</div>
				<div class="col-md-3 col-sm-3">
					<h4>Services</h4>
					<%= link_to 'Assign DOIs', 'dois.html' %><br />
					<%= link_to 'Metadata search', 'search.html' %><br />
					<%= link_to 'Event data', 'eventdata.html' %><br />
					<%= link_to 'Profiles', 'profiles.html' %><br />
					<%= link_to 're3data', 're3data.html' %><br />
					<%= link_to 'Citation formatter', 'citation.html' %><br />
					<%= link_to 'Statistics', 'stats.html' %><br />
					<%= link_to 'Service status', 'service.html' %><br />
					<%= link_to 'Content negotiation', 'content.html' %><br />
					<%= link_to 'OAI-PMH', 'oaipmh.html' %><br />
					<%= link_to 'Test environment', 'test.html' %><br />
				</div>
				<div class="col-md-3 col-sm-3">
					<h4>Resources</h4>
					<%= link_to 'Metadata schema', 'http://schema.datacite.org' %><br />
					<%= link_to 'Technical documentation', 'technical.html' %><br />
					<%= link_to 'Outreach material', 'outreach.html' %><br />
					<%= link_to 'Events', 'events.html' %><br /><br />

					<h4>Community</h4>
					<%= link_to 'Members', 'members.html' %><br />
					<%= link_to 'Partners', 'partners.html' %><br />
					<%= link_to 'Steering groups', 'steering.html' %><br />
					<%= link_to 'Events', 'events.html' %>	<br /><br />
				</div>
				<div class="col-md-3 col-sm-3">
					<h4>Contact us</h4>
					<% link_to 'mailto:support@datacite.org' do %>
					  <i class='fa fa-envelope fa-2x'></i>
					<% end %>
					<%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>

					<br />
					<% link_to 'https://blog.datacite.org' do %>
					  <i class='fa fa-pencil-square-o fa-2x'></i>
					<% end %>
					<%= link_to 'Blog', 'https://blog.datacite.org' %>
					<br />

					<% link_to 'https://twitter.com/datacite' do %>
					  <i class='fa fa-twitter fa-2x'></i>
					<% end %>
					<%= link_to '@datacite', 'https://twitter.com/datacite' %>
					<br />

					<% link_to 'https://www.linkedin.com/company/datacite' do %>
					  <i class='fa fa-linkedin fa-2x'></i>
					<% end %>
					<%= link_to 'Linkedin', 'https://www.linkedin.com/company/datacite' %>
					<br /><br />

					<%= link_to 'Terms and conditions', 'terms.html' %><br />
					<%= link_to 'Privacy policy', 'privacy.html' %><br />
					<%= link_to 'Acknowledgements', 'acknowledgments.html' %><br /><br />
		    	</div>
			</div>
		</div>
    </footer>

<script type="text/javascript">
(function() {
var s = document.createElement("script");
s.type = "text/javascript";
s.async = true;
s.src = '//api.usersnap.com/load/'+
        '6d0c32c3-844a-47f4-b3c6-3a4cb9e9af7c.js';
var x = document.getElementsByTagName('script')[0];
x.parentNode.insertBefore(s, x);
})();
</script>

  </body>
</html>
