<section>
  <div class="container section-content">
    <h1>Executive Board</h1>
    <p>
      Along with DataCite’s members, the Executive Board is the governing body
      of the association. The Executive Board consists of a President, four
      Vice Presidents (one of them being the Deputy President) and a Treasurer.
      One member of the Executive Board is an ex-officio representative of the
      Business Office. Members of the Executive Board are elected by members at
      the annual General Assembly and serve for a period of two years.
    </p>
  </div>
</section>

<section>
  <div class="container section-content">
    <h1>Board applications</h1>
    <p>
      The board is currently looking for new members. Interested in being part of DataCite's governance? Please complete
      the <%= link_to 'application form', 'https://datacite.org/boardapplications.html' %> and participate in the
      elections that will take place on April 1.
    </p>
  </div>
</section>

<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">
          Board members
        </h1>
      </div>
      <div class="container">
        <div class="row text-center">

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_john.jpg" %>
              <div class="caption">
                <h4>John Chodacki (President)</h4>
                <p>
                  John Chodacki is responsible for overseeing the strategic
                  planning, development, and operational management of the
                  California Digital Library’s digital curation group,
                  <%= link_to 'UC3 (University of California Curation Center)',
                  'http://www.cdlib.org/uc3/' %>.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_adam.jpg" %>
              <div class="caption">
                <h4>Adam Farquhar (Deputy President)</h4>
                <p>
                  Adam Farquhar is Head of Digital Scholarship at the
                  <%= link_to 'British Library', 'http://bl.uk' %>, where he
                  focuses on establishing services for scholars and researchers
                  that take full advantage of the possibilities that digital
                  collections present.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_marco.jpg" %>
              <div class="caption">
                <h4>Marco Marsella (Treasurer)</h4>
                <p>
                  Marco Marsella is Senior Advisor Global Information System at
                  <%= link_to 'FAO', 'http://fao.org'%>, where he contributes to the design of the system and the
                  promotion of DOIs in the Plant Genetic Resources community.
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="row text-center">

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_mike.jpg" %>
              <div class="caption">
                <h4>Mike Frame</h4>
                <p>
                  Mike Frame is Chief Scientific Data Integration and Visualization at
                  <%= link_to 'USGS', 'http://usgs.gov'%>. He participates in a number of interagency
                  cyberinfrastructure, data integration, and scientific activities. He is also Adjunct Professor at the
                  U. of Tennessee.
                </p>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_mark.jpg" %>
              <div class="caption">
                <h4>Mark Hahnel</h4>
                <p>
                  Mark Hahnel is the founder of
                  <%= link_to 'figshare', 'http://figshare.org'%>, a repository where users can make all of their
                  research outputs citable, shareable and discoverable. He has a PhD in stem cell biology at Imperial
                  College London.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_salvatore.jpg" %>
              <div class="caption">
                <h4>Salvatore Mele</h4>
                <p>
                  Salvatore Mele is head of Open Access at
                  <%= link_to 'CERN',
                  'http://home.cern' %>, where he co-architected the SCOAP3
                  initiative. His team develops solutions for Open Data and runs
                  INSPIRE, a global Open Access digital library for High-Energy
                  Physics.
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="row text-center">
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_irina.jpg" %>
              <div class="caption">
                <h4>Irina Sens (ex-officio)</h4>
                <p>
                  Irina Sens is the Deputy Director at the
                  <%= link_to 'German
                  National Library of Science and Technology', 'http://tib.eu'
                  %>
                  (TIB). She led the German project “Registration of
                  Scientific primary data” and was responsible for the
                  introduction of DOI.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_adrian.jpg" %>
              <div class="caption">
                <h4>Adrian Burton</h4>
                <p>
                  Dr Adrian Burton is Director of Data Policy and Services
                  at the Australian Research Data Cloud which is a government
                  funded research infrastructure for data, cloud, and tools.
                  He has been involved in the leadership of a number of national
                  infrastructure initiatives such as the Australian National
                  Data Service and the Australian Partnership for Sustainable
                  Repositories. He is active in a number of global research
                  infrastructure collaborations (eg around global persistent
                  identifiers, data-publication linking, and data discovery)
                  through the Research Data Alliance and other international fora.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_essa.jpg" %>
              <div class="caption">
                <h4>Mohamed A. Ba-Essa</h4>
                <p>
                  Mohamed is Manager of Preservation and Digital Services at King Abdullah University of Science and
                  Technology (KAUST), where he is responsible of three main functions: Research Repository and Research
                  Data Services, University Records Management and Archive, and Library Systems and Digital services. He
                  serves in various committees such as the university Open Access Committee, Data Governance Committee,
                  Research Data Management interest group, ORCID implementation, University records policy, University
                  Archive policy and other research information management projects.

                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_wittenberg.jpg" %>
              <div class="caption">
                <h4>Jamie Wittenberg</h4>
                <p>
                  Jamie Wittenberg is Head of Scholarly Communication at
                  <%= link_to 'Indiana University Libraries', "https://openscholarship.indiana.edu/" %>, where she
                  oversees research data, open access, and publishing services. Her team collaborates with faculty and
                  students to curate, preserve, and share their work. Jamie’s research interests include automating open
                  access policy implementation, publishing 3D objects in open repositories, and building shared
                  infrastructure to support big data.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_robinson.jpg" %>
              <div class="caption">
                <h4>Carly Robinson</h4>
                <p>
                  Carly Robinson is the Assistant Director for Information Products and Services in the US Department of
                  Energy Office of Scientific and Technical Information (OSTI). Her team manages OSTI search and
                  discovery tools, identifier services, metadata quality and curation, and policy development for public
                  access and internal tools.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_sompel.jpg" %>
              <div class="caption">
                <h4>Herbert Van de Sompel</h4>
                <p>
                  Herbert Van de Sompel is Chief Innovation Officer at Data Archiving and Networked Services (DANS) in
                  The Netherlands. He has a long-term interest in infrastructure to support scholarly communication in
                  the digital era and has been involved in various information interoperability standardization efforts,
                  including OAI-PMH, OAI-ORE, OpenURL, Memento, ResourceSync, Web Annotation, and ResourceSync.

                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_hutchison.jpg" %>
              <div class="caption">
                <h4>Viv Hutchison</h4>
                <p>
                  Viv Hutchison is the Science Data Management Chief for the US Geological Survey. Her team develops and
                  maintains a suite of science data management applications to support data release, promotes best
                  practices in data management, and leads a prominent open forum called the Community for Data
                  Integration. She is involved in numerous Federal open data activities and led implementation of the
                  USGS Public Access Plan.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>

<section>
  <div class="container section-content">
    <h1>contact the board</h1>
    <p>
      If you want to contact the DataCite board members, please e-mail
      <%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>
    </p>
  </div>
</section>


<section>
  <div class="container section-content">
      <h1> Past Executive Board Members
    </h1>
<table class="table table-striped">
  <tr>
    <th scope="col">Past Executive Board Members</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
    <tr>
    <td>Mike Frame</td>
    <td>USGS</td>
    <td>2017-2018</td>
  </tr>
  <tr>
    <td>Karen Morgenroth</td>
    <td>National Research Council Canada</td>
    <td>2015-2017</td>
  </tr>
  <tr>
    <td>Paul Bracke</td>
    <td>Purdue University</td>
    <td>2015-2016</td>
  </tr>
  <tr>
    <td>Brigitte Hausstein</td>
    <td>GESIS</td>
    <td>2015-2016</td>
  </tr>
  <tr>
    <td>York Sure-Vetter</td>
    <td>GESIS</td>
    <td>2012-2014</td>
  </tr>
  <tr>
    <td>Lee-Ann Colemann</td>
    <td>The British Library</td>
    <td>2012-2014</td>
  </tr>
  <tr>
    <td>Wilma van Wezenbeek</td>
    <td>TU Delft</td>
    <td>2012-2017</td>
  </tr>
  <tr>
    <td>Arlette Piquet</td>
    <td>ETHZ</td>
    <td>2010-2015</td>
  </tr>
  <tr>
    <td>Patricia Cruse</td>
    <td>California Digital Library</td>
    <td>2009-2014</td>
  </tr>
  <tr>
    <td>Pamela Bjornson</td>
    <td>National Research Council Canada</td>
    <td>2009-2013</td>
  </tr>
  <tr>
    <td>Alfred Heller</td>
    <td>DTIC</td>
    <td>2009-2010</td>
  </tr>
  <tr>
    <td>Uwe Rosemann</td>
    <td>German National Library of Science and Technology</td>
    <td>2009-2010</td>
  </tr>
</table>


  </div>
</section>

