<footer>
  <div class="container-fluid bg-primary">
    <div class="container">
      <div class="col-md-3 col-sm-3">
        <h4>About DataCite</h4>
        <ul>
        <% data.links.about_links.each do |link| %>
          <li><%= link_to link.name, link.url %></li>
        <% end %>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h4>Services</h4>
        <ul>
        <% data.links.services_links.each do |link| %>
          <li><%= link_to link.name, link.url %></li>
        <% end %>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h4>Resources</h4>
        <ul>
        <% data.links.resources_links.each do |link| %>
          <li><%= link_to link.name, link.url %></li>
        <% end %>
        </ul>

        <h4>Community</h4>
        <ul>
        <% data.links.community_links.each do |link| %>
          <li><%= link_to link.name, link.url %></li>
        <% end %>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h4>Contact us</h4>
        <% link_to 'mailto:support@datacite.org' do %>
          <i class='fa fa-envelope fa-2x'></i>
        <% end %>
        <%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>

        <br />
        <% link_to 'https://blog.datacite.org' do %>
          <i class='fa fa-pencil-square-o fa-2x'></i>
        <% end %>
        <%= link_to 'Blog', 'https://blog.datacite.org' %>
        <br />

        <% link_to 'https://twitter.com/datacite' do %>
          <i class='fa fa-twitter fa-2x'></i>
        <% end %>
        <%= link_to '@datacite', 'https://twitter.com/datacite' %>
        <br />

        <% link_to 'https://www.linkedin.com/company/datacite' do %>
          <i class='fa fa-linkedin fa-2x'></i>
        <% end %>
        <%= link_to 'Linkedin', 'https://www.linkedin.com/company/datacite' %>
        <br /><br />

        <ul>
        <% data.links.contact_links.each do |link| %>
          <li><%= link_to link.name, link.url %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>
