---
title: DataCite - Acknowledgements
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>Acknowledgements</h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>big thanks to...</h1>
    <p>
      <i class="fa fa-heart"></i>
      All our members and reviewers, this website would not be consistent or       complete without their help
    </p>
    <p>
      <i class="fa fa-heart"></i>
      The services Flaticon and Freepik, for providing excellent images,
      icons and resources
    </p>
    <p>
      <i class="fa fa-heart"></i>
      Our members and users for the beautiful dataset images displayed under
      the Welcome to DataCite section:
    </p>
    <p>
      - CERN:
      <%= link_to 'Start of run2 physics at the Large Hadron Collider (LHC)',
      'http://cds.cern.ch/record/2020852' %>
      <br />
      - CDL/Dryad Digital Repository:
      <%= link_to 'Harrison F, Roberts AEL, Gabrilska R, Rumbaugh KP, Lee C,
      Diggle SP (2015) Data from: A 1,000-year-old antimicrobial remedy with
      antistaphylococcal activity. Dryad Digital Repository.',
      'http://datadryad.org/resource/doi:10.5061/dryad.mn17p' %>
      and <%= link_to 'Smolla M, Alem S, Chittka L, Shultz S (2016) Data from:
      Copy-when-uncertain: bumblebees rely on social information when rewards
      are highly variable. Dryad Digital Repository.',
      'http://datadryad.org/resource/doi:10.5061/dryad.3jb68' %>
      <br />
      - ETH/e-pics:
      <%= link_to 'Knöllchen von Trifolium sp., Querschnitt',
      'http://viewer.e-pics.ethz.ch/ETH.BIOSYS/index2.php?id=ETH.BIOSYS_MB_00097' %>
      <br />
      - CDL/Figshare:
      <%= link_to 'Antonio Baeza, J.; Simpson, Lunden; J. Ambrosio, Louis;
        Guéron, Rodrigo; Mora, Nathalia (2016): Sampling sites and symbiotic
        model organisms. figshare.',
        'https://figshare.com/articles/Sampling_sites_and_symbiotic_model_organisms_/3092977' %>
      <br />
      - CDL/Moorea:
      <%= link_to 'Moorea Coral Reef LTER Photos',
        'http://mcr.lternet.edu/galleries/indexGallery.htm' %>
      <br />
      - CDL/RUcore: <%= link_to 'Union County map 1923',
        'http://dx.doi.org/doi:10.7282/T39P32KC' %>
    </p>
  </div>
</section>