---
title: DataCite - Board
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      DataCite Board
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>governance</h1>
    <p>
      Along with DataCite’s members, the Executive Board is the governing body
      of the association. The Executive Board consists of a President, four
      Vice Presidents (one of them being the Deputy President) and a Treasurer.
      One member of the Executive Board is an ex-officio representative of the
      Business Office. Members of the Executive Board are elected by members at
      the annual General Assembly and serve for a period of two years.
    </p>
  </div>
</section>

<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">
          Board members
        </h1>
      </div>
      <div class="container">
        <div class="row text-center">
		
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_john.jpg" %>
              <div class="caption">
                <h4>John Chodacki (President)</h4>
                <p>
                  John Chodacki is responsible for overseeing the strategic
                  planning, development, and operational management of the
                  California Digital Library’s digital curation group,
                  <%= link_to 'UC3 (University of California Curation Center)',
                  'http://www.cdlib.org/uc3/' %>.
                </p>
              </div>
            </div>
          </div>			
					
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_adam.jpg" %>
              <div class="caption">
                <h4>Adam Farquhar (Deputy President)</h4>
                <p>
                  Adam Farquhar is Head of Digital Scholarship at the
                  <%= link_to 'British Library', 'http://bl.uk' %>, where he
                  focuses on establishing services for scholars and researchers
                  that take full advantage of the possibilities that digital
                  collections present.
                </p>
              </div>
            </div>
          </div>
		
	<div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_marco.jpg" %>
              <div class="caption">
                <h4>Marco Marsella (Treasurer)</h4>
                <p>
                  Marco Marsella is Senior Advisor Global Information System at <%= link_to 'FAO', 'http://fao.org'%>, where he contributes to the design of the system and the promotion of DOIs in the Plant Genetic Resources community.
                </p>
              </div>
            </div>
          </div>
								
        </div>

        <div class="row text-center">

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_mike.jpg" %>
              <div class="caption">
                <h4>Mike Frame</h4>
                <p>
                  Mike Frame is Chief Scientific Data Integration and Visualization at <%= link_to 'USGS', 'http://usgs.gov'%>. He participates in a number of interagency cyberinfrastructure, data integration, and scientific activities. He is also Adjunct Professor at the U. of Tennessee. 
                </p>
              </div>
            </div>
          </div>
										

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_mark.jpg" %>
              <div class="caption">
                <h4>Mark Hahnel</h4>
                <p>
                  Mark Hahnel is the founder of <%= link_to 'figshare', 'http://figshare.org'%>, a repository where users can make all of their research outputs citable, shareable and discoverable. He has a PhD in stem cell biology at Imperial College London.
                </p>
              </div>
            </div>
          </div>
		
	<div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_salvatore.jpg" %>
              <div class="caption">
                <h4>Salvatore Mele</h4>
                <p>
                  Salvatore Mele is head of Open Access at <%= link_to 'CERN',
                  'http://home.cern' %>, where he co-architected the SCOAP3
                  initiative. His team develops solutions for Open Data and runs
                  INSPIRE, a global Open Access digital library for High-Energy
                  Physics.
                </p>
              </div>
            </div>
          </div>
														
      </div>
			
        <div class="row text-center">
									
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_karen.jpg" %>
              <div class="caption">
                <h4>Karen Morgenroth</h4>
                <p>
                  Karen Morgenroth is Manager of Information Management
                  Operations at the <%= link_to 'National Research Council
                  Canada', 'http://www.nrc-cnrc.gc.ca/' %>, where her teams
                  focus on digital information management, repositories and
                  open government initiatives.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_irina.jpg" %>
              <div class="caption">
                <h4>Irina Sens (ex-officio)</h4>
                <p>
                  Irina Sens is the Deputy Director at the <%= link_to 'German
                  National Library of Science and Technology', 'http://tib.eu'
                  %> (TIB). She led the German project “Registration of
                  Scientific primary data” and was responsible for the
                  introduction of DOI.
                </p>
              </div>
            </div>
          </div>
					

					
      </div>
			
			
    </div>
  </div>
</section>

<section>
  <div class="container section-content">
    <h1>contact the board</h1>
    <p>
      If you want to contact the DataCite board members, please e-mail
      <%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>
    </p>
  </div>
</section>
