---
title: DataCite - Contact
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>Contact</h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>How to contact</h1>
    <h3> <i class='fas fa-envelope fa-2x'></i>
      <%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>
    </h3>
    <p>
      Would you like to learn more about DataCite? Contact us via email to
      enquire about membership, services, development, conferences and events.
    </p>
    <p>
      If you are currently a DataCite member, you can also use the support
      email to submit support tickets, requests, etc. Remember that the
      <%= link_to 'Service Status', 'http://status.datacite.org' %>
      contains the latest and most accurate information in case of technical
       issues.
    </p>
    <h3> <i class='fab fa-twitter fa-2x'></i>
      <%= link_to '@datacite', 'http://twitter.com/datacite' %>
    </h3>
    <p>
      Follow us on Twitter through
      <%= link_to '@datacite', 'http://twitter.com/datacite' %>
      to learn about the latest news, events, webinars and services DataCite
      is developing for you.
    </p>
    <h3> <i class='fas fa-users fa-2x'></i> Mailing lists</h3>
    <p>
      DataCite maintains an open and free to register All Users mailing list.
      Please <%= link_to 'join us', 'https://groups.google.com/a/datacite.org/forum/#!forum/allusers' %>
			for the latest news, webinars, conferences and useful
      information for DataCite partners, integrators, users and supporters.
    </p>
    <p>
      If you are one of our member organisations, you should be part of the
      private All Members list. Please, contact
      <%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>
      if it is not the case or you want to update your contact details.
    </p>
    <h3> <i class='fas fa-home fa-2x'></i> Business office</h3>
    <p>
      DataCite e.V. <br />
      German National Library  of Science and Technology<br />
      Welfengarten 1B, 30167 Hannover, Germany
    </p>
  </div>
</section>
