---
title: DataCite - Assign DOIs
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Assign DOIs</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>service description</h1>
			<p>A Digital Object Identifier (DOI) is an alphanumeric string assigned to uniquely identify an object. It is tied to a 
				metadata description of the object as well as to a digital location, such as a URL, where all the details about the object 
				are accessible.</p>
			
			<%= image_tag "services_doi_1.png", :width => '300' %>
			
			<p>
				In order to create new DOIs and assign them to your content, it is necessary to become a 
				<%= link_to 'DataCite member', 'become.html' %>
				or work with one of the <%= link_to 'current members', 'members.html' %>. 
			</p>
			<p>
				Through the web interface or the API of the 
				<%= link_to 'DataCite Metadata Store', 'https://mds.datacite.org' %>
				you will be able to
				submit a name, a metadata description following the 
				<%= link_to 'DataCite Metadata Schema', 'http://schema.datacite.org' %>
				and at
				least one URL of the object to create a DOI. Once created, information about a DOI is available through our different 
				services 
				<%= link_to 'search', 'search.html' %>,
				<%= link_to 'event data', 'eventdata.html' %>, 
				<%= link_to 'OAI-PMH', 'oaipmh.html' %> 
				and others).
			</p>
			<h1>access details</h1>
			<p> - Accessible through: <%= link_to 'https://mds.datacite.org', 'https://mds.datacite.org' %> <br />
				- Intended users: DataCite Members and Member Users<br />
				- Availability: <%= link_to 'http://status.datacite.org', 'http://status.datacite.org' %> 
			</p>
			<h1>learn more</h1>
			<p> - Technical documentation: <%= link_to 'https://mds.datacite.org/static/apidoc', 'https://mds.datacite.org/static/apidoc' %><br />
				- DOI Handbook: doi: <%= link_to '10.1000/182', 'https://www.doi.org/10.1000/182' %><br />
				- Wikipedia entry: <%= link_to 'Digital object identifier', 'https://en.wikipedia.org/wiki/Digital_object_identifier' %> 
			</p>
		</div>
	</section>
