---
title: DataCite - Events
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Events</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>upcoming events</h1>	
			<h2>Metadata Schema 4.0 Webinar - Thursday, June 30th, 2016 at 5:00 PM CEST</h3>
			<p><%= link_to 'Register here!', 'https://attendee.gotowebinar.com/register/1292250893973733633' %><br /><br />
			<%= link_to 'Check your timezone', 'http://worldtimebuddy.com' %><br />
			<%= link_to 'Download GoToWebinar', 'http://support.citrixonline.com/en_US/Webinar/help_files/G2W010002' %><br />

			</p>
			
			<p>
				The DataCite Metadata Working Group has developed the new DataCite Metadata Schema 4.0: 
				<%= link_to 'http://schema.labs.datacite.org/meta/kernel-4/ ', 'http://schema.labs.datacite.org/meta/kernel-4/ ' %>
				
			</p>
			<p>
				Version 4.0 comes with improvements on name identifiers, funding information, resource types and others. These changes are key to make your data discoverable and reusable, and to grant proper credit to its authors. 
			</p>
			<p>
				Agenda: 
				<br />
				- Introduction to the DataCite Metadata Schema <br />
				- Version 4.0 changes and updates <br />
				- Integration and testing <br />
				- Roadmap<br />
			</p>
			
			<h2>Dynamic Data Citation Webinar - Tuesday, July 12th, 2016 at 5:00 PM CEST</h3>
			<p>Registration is not available yet!<br /><br />
			<%= link_to 'Check your timezone', 'http://worldtimebuddy.com' %><br />
			<%= link_to 'Download GoToWebinar', 'http://support.citrixonline.com/en_US/Webinar/help_files/G2W010002' %><br />

			</p>
			
			<p>
				Prof. Dr. Andreas Rauber (Institute of Software Technology and Interactive Systems, Vienna University of
				Technology and Research Data Alliance) will introduce the work on Dynamic Data Citation of the RDA Data Citation
				Working Group.
			</p>
			
			<h2>Force11 Data Citation Implementation Pilot (DCIP) Webinar - TBC</h3>
			<p>Registration is not available yet!<br /><br />
			<%= link_to 'Check your timezone', 'http://worldtimebuddy.com' %><br />
			<%= link_to 'Download GoToWebinar', 'http://support.citrixonline.com/en_US/Webinar/help_files/G2W010002' %><br />

			</p>
			
			<p>
				TBC
			</p>
			
		</div>
		<div class="container section-content">
			<h1>past events</h1>
			<h2>Zotero for Data Repositories Webinar - Tuesday, May 10, 2016 at 5:00 PM CEST</h3>
			<p>
				<%= link_to 'Recording available', 'https://blog.datacite.org/zotero-for-data-repositories-webinar/' %>
			</p>
			
			<p>Sebastian Karcher is the associate director of the Qualitative Data Repository, where he works on data sharing for 
				qualitative social science research. He is an expert on scholarly referencing and citation workflows and has been a 
				longtime contributor to the Citation Style Language as well as Zotero, the open source reference management software. 
				In this webinar, he will provide us insights about how Zotero fetches metadata from data repositories. He will cover 
				several examples such as Dataverse or Dryad Digital Repository and explain how repositories can facilitate integration 
				with reference managers in general and Zotero specifically. The webinar will also include pointers for individuals 
				interesting in contributing to the Zotero translator infrastructure.
			</p>

			<h2>DC2AP and DC2RDF Webinar - Tuesday, April 12, 2016 at 4:30 PM CEST</h3>
			<p>
				<%= link_to 'Recording available', 'https://blog.datacite.org/dc2ap-and-dc2rdf-webinar/' %><br />
			</p>
			
			<p>The DataCite Metadata Working Group has prepared a DataCite to Dublin Core application profile (DC2AP) and a DataCite 
				Ontology (DC2RDF) and would love to hear your comments about it! The profile will help you building Dublin Core 
				compatible DataCite metadata records, using Dublin Core Metadata Initiative (DCMI) metadata terms and other ontologies. </p>
			<p>The Metadata Working Group seeks public review as the first step to become a DCMI Community Specification. Feedback 
				from potential users and developers is strongly encouraged and it will help us improving the interoperability and quality 
				of DataCite’s metadata.</p>
			<p>Please visit 
				<%= link_to 'https://groups.google.com/a/datacite.org/forum/#!forum/dc2map', 'https://groups.google.com/a/datacite.org/forum/#!forum/dc2map' %>
			</p>
		</div>
	</section>