---
title: DataCite - Events
---
<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Events
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>Calendar</h1>
<center>
<iframe src="https://calendar.google.com/calendar/embed?showTabs=0&amp;showCalendars=0&amp;height=400&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=datacite.org_p4dhnvhqpstt4944062tm8e00k%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Europe%2FMadrid" style="border-width:0" width="800" height="400" frameborder="0" scrolling="no"></iframe>
</center>
  </div>
	
  <div class="container section-content">
    <h1>Upcoming DataCite Webinars</h1>
    <h2>
			Software Citation Principles - 	Monday, November 14, 16:00-17:00 CET
    </h2>
    <p>
      <%= link_to 'Register here!',
          'https://attendee.gotowebinar.com/register/1867341657769149953' %>
      <br /><br />
    </p>
    <p>
Daniel S. Katz (Assistant Director for Scientific Software and Applications at the National Center for Supercomputing Applications, University of Illinois) will talk about the FORCE 11 Software Citation Principles, their implementation and impact. 
</p>
<p>
Software is a critical part of modern research and yet there is little support across the scholarly ecosystem for its acknowledgement and citation. The FORCE11 Software Citation Working Group reviewed the existing community practices and produced a consolidated set of citation principles that may encourage broad adoption of a consistent policy for software citation across disciplines and venues. 
</p>
<p>
This webinar will cover the software citation principles, existing community practice, requirements for different stakeholders and possible technical solutions for how these principles can be implemented. 
</p>
<p>
Smith AM, Katz DS, Niemeyer KE, FORCE11 Software Citation Working Group. (2016) Software Citation Principles. PeerJ Computer Science 2:e86. 
      <%= link_to 'http://doi.org/10.7717/peerj-cs.86',
          'http://doi.org/10.7717/peerj-cs.86' %>
    </p>
	</div>
	
  <div class="container section-content">
    <h1>past events</h1>
    <h2>
      Dynamic Data Citation Webinar - Tuesday, July 12th, 2016 at 5:00 PM CEST
    </h2>
    <p>
      <%= link_to 'Recording available',
          'https://blog.datacite.org/dynamic-data-citation-webinar/' %>
      <br /><br />
    </p>
    <p>
      There is a strong need for data identification and citation mechanisms
      that identify arbitrary subsets of large data sets with precision in a
      machine-actionable way. These mechanisms need to be user-friendly,
      transparent, machine-actionable, scalable and applicable to various static
      and dynamic data types.
    </p>
    <p>
      The Research Data Alliance (RDA) Dynamic Data Citation Working Group
      developed a set of recommendations based on dynamic resolution of a data
      citation via a time-stamped query also known as 'Dynamic Data Citation'.
      They cover:
    </p>
    <p>
      - Data Versioning <br />
      - Data Timestamping <br />
      - Data Identification 
    </p>
    <p>
      Dr. Andreas Rauber (Institute of Software Technology and Interactive Systems,
      Vienna University of Technology) co-chairs the RDA Data Citation WG. In this
      session, he will guide us through the results of the WG and the Recommendations
      for Dynamic Data Citation.
    </p>
    <p>
      More information:
      <%= link_to 'https://rd-alliance.org/group/data-citation-wg/outcomes/data-citation-recommendation.html', 'https://rd-alliance.org/group/data-citation-wg/outcomes/data-citation-recommendation.html' %>
    </p>		
		
    <h2>
      Metadata Schema 4.0 Webinar - Thursday, June 30th, 2016 at 5:00 PM CEST
    </h2>
    <p>
      <%= link_to 'Recording available',
      'https://blog.datacite.org/metadata-schema-4-webinar/' %>
      <br />
    </p>
    <p>
      The DataCite Metadata Working Group has developed the new DataCite
      Metadata Schema 4.0:
      <br />
      <%= link_to 'http://schema.labs.datacite.org/meta/kernel-4/ ',
      'http://schema.labs.datacite.org/meta/kernel-4/ ' %>
    </p>
    <p>
      Version 4.0 comes with improvements on name identifiers, funding
      information, resource types and others. These changes are key to make
      your data discoverable and reusable, and to grant proper credit to its
      authors.
    </p>
    <p>
      Agenda:
      <br />
      - Introduction to the DataCite Metadata Schema <br />
      - Version 4.0 changes and updates <br />
      - Integration and testing <br />
      - Roadmap<br />
    </p>
		
    <h2>
      Zotero for Data Repositories Webinar - Tuesday, May 10, 2016 at 5:00 PM
      CEST
    </h2>
    <p>
      <%= link_to 'Recording available',
      'https://blog.datacite.org/zotero-for-data-repositories-webinar/' %>
    </p>
    <p>
      Sebastian Karcher is the associate director of the Qualitative Data
      Repository, where he works on data sharing for qualitative social science
      research. He is an expert on scholarly referencing and citation workflows
      and has been a longtime contributor to the Citation Style Language as
      well as Zotero, the open source reference management software. In this
      webinar, he will provide us insights about how Zotero fetches metadata
      from data repositories. He will cover several examples such as Dataverse
      or Dryad Digital Repository and explain how repositories can facilitate
      integration with reference managers in general and Zotero specifically.
      The webinar will also include pointers for individuals interesting in
      contributing to the Zotero translator infrastructure.
    </p>
    <h2>
      DC2AP and DC2RDF Webinar - Tuesday, April 12, 2016 at 4:30 PM CEST
    </h2>
    <p>
      <%= link_to 'Recording available',
      'https://blog.datacite.org/dc2ap-and-dc2rdf-webinar/' %>
      <br />
    </p>
    <p>
      The DataCite Metadata Working Group has prepared a DataCite to Dublin
      Core application profile (DC2AP) and a DataCite Ontology (DC2RDF) and
      would love to hear your comments about it! The profile will help you
      building Dublin Core compatible DataCite metadata records, using Dublin
      Core Metadata Initiative (DCMI) metadata terms and other ontologies.
    </p>
    <p>
      The Metadata Working Group seeks public review as the first step to
      become a DCMI Community Specification. Feedback from potential users and
      developers is strongly encouraged and it will help us improving the
      interoperability and quality of DataCite’s metadata.
    </p>
    <p>Please visit
      <%= link_to 'https://groups.google.com/a/datacite.org/forum/#!forum/dc2map', 'https://groups.google.com/a/datacite.org/forum/#!forum/dc2map' %>
    </p>
  </div>
</section>
