---
title: DataCite - Governance
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      DataCite Governance
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>
      Mission
    </h1>

    <p>
      <b>Our Vision:</b> Connecting research, identifying knowledge.
    </p>

    <p>
      <b>Our Mission:</b> DataCite’s mission is to be a world leading provider of persistent identifier services to help make research outputs and resources findable, citable, connected and reused globally. We seek to create value for our members through community-driven, innovative, open, integrated, usable, and sustainable services for research..
    </p>
  </div>
</section>


<section>
  <div class="container section-content">
    <h1>
      Governed by our community and directed by statutes
    </h1>

    <p>
      The strength of DataCite is based on its active membership. DataCite is governed by its members and Executive
      Board directed by our statutes.
    </p>
  </div>
</section>


<section>
  <div class="container section-content">
    <h1> DataCite Members
    </h1>

    <p>
      DataCite Members are the voting body of the organization. Membership is open to all entities that support
      DataCite’s data sharing mission. Members are governed by the statutes (the bylaws and operating procedures) of the
      organization. The statutes are developed, ratified, and approved by the members.
    </p>

    <p>
      Members meet annually (General Assembly) to approve DataCite’s revenue and expenditures, stand and/or vote for the
      Executive Board, guide DataCite’s strategy, put forth resolutions and modifying the association’s statutes.
      Members also participate in DataCite’s Steering and Working Groups and provide input on new member acquisition.
    </p>
  </div>
</section>




<section>
  <div class="container section-content">
    <h1>Executive Board</h1>
    <p>
      Along with DataCite’s members, the Executive Board is the governing body
      of the association. The Executive Board consists of a President, four
      Vice Presidents (one of them being the Deputy President) and a Treasurer.
      One member of the Executive Board is an ex-officio representative of the
      Business Office. Members of the Executive Board are elected by members at
      the annual General Assembly and serve for a period of two years.
    </p>
  </div>
</section>


<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">
          Executive Board Members
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">

        <div class="col-md-4 col-sm-4 svc-item">
          <div class="thumbnail">
            <%= image_tag "board_john.jpg" %>
            <div class="caption">
              <h4>John Chodacki (President)</h4>
              <p>
                John Chodacki is responsible for overseeing the strategic planning, development, and operational
                management of the California Digital Library’s digital curation group, <%= link_to 'UC3 (University of California
                Curation Center)', 'https://www.cdlib.org/services/uc3/' %>.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 svc-item">
          <div class="thumbnail">
            <%= image_tag "board_banda.jpg" %>
            <div class="caption">
              <h4>Tiwonge Banda</h4>
              <p>Tiwonge Msulira Banda has over 15 years’ experience in ICT4D project management, community engagement and organisational administration. Serving in various roles at UbuntuNet Alliance, he has spent his whole career working with and promoting the establishment of National Research and Education Networks (NRENs). In this role he has been working with end user communities from research centers and universities globally promoting the use of digital technologies in research, teaching, and learning. He is part of the core team that established the regional Internet network connecting over 1,000 universities, serving over 2,000,000 users in 12 countries in Eastern and Southern Africa under the AfricaConnect programme, funded by the European Union.  Mr Banda is currently pursuing a PhD in Computer Science at Robert Gordon University Aberdeen. He holds an MSc in Information Technology with Business Intelligence; a Masters in Business Administration and a BSc in Environment Science.
              </p>
            </div>
          </div>
        </div>


      <div class="col-md-4 col-sm-4 svc-item">
        <div class="thumbnail">
          <%= image_tag "board_essa.jpg" %>
          <div class="caption">
            <h4>Mohamed A. Ba-Essa</h4>
            <p>
              Mohamed is Manager of Preservation and Digital Services at <%= link_to 'King Abdullah University of Science and
              Technology (KAUST)', 'https://www.kaust.edu.sa'%> , where he is responsible for Research Repository and Research Data Services,
              University Records Management and Archive, and Library Systems and Digital services.
            </p>
          </div>
        </div>
      </div>

      </div>

      <div class="row text-center">

        <div class="col-md-4 col-sm-4 svc-item">
         <div class="thumbnail">
            <%= image_tag "board_adrian.jpg" %>
            <div class="caption">
              <h4>Adrian Burton</h4>
              <p>
                Dr. Adrian Burton is Director of Data Policy and Services at the <%= link_to 'Australian Research Data Commons', 'https://www.ands.org.au' %>
                which is a government-funded research infrastructure for data, cloud, and tools.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 svc-item">
           <div class="thumbnail">
             <%= image_tag "board_ingrid.jpg" %>
             <div class="caption">
               <h4>Ingrid Dillo</h4>
               <p>Dr Ingrid Dillo is Deputy Director at DANS (Data Archiving and Networked Services) in the Netherlands. She holds a PhD in history and has worked in the field of policy development for the last 30 years, including as senior policy advisor at the Dutch Ministry of Education, Culture and Science and the National Library of the Netherlands (KB). Among her areas of expertise are research data management and the certification of digital repositories. Ingrid is Co-chair of the Research Data Alliance (RDA) Council. She is also Treasurer of the Board of CoreTrustSeal (CTS) and Vice Chair of the Scientific Committee of the ISC/World Data System (WDS). Ingrid is project coordinator of the European H2020 project FAIRsFAIR.
               </p>
             </div>
           </div>
        </div>

        <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "board_gibson.jpg" %>
              <div class="caption">
                <h4>Jennifer Gibson</h4>
                <p>Jennifer is Executive Director of Dryad, the open data publishing platform and community committed to the reuse of all research data. Since 2005, she has worked with scientists, funders, publishers, libraries, developers and others to explore fresh paths toward accelerating discovery through open research communication and open-technology innovation. Prior to Dryad, Jennifer was Head of Open Research Communication and founding Head of Marketing and Communications for eLife, a non-profit and research funder-backed initiative to transform science publishing.</p>
              </div>
            </div>
        </div>

      </div>

      <div class="row text-center">

        <div class="col-md-4 col-sm-4 svc-item">
          <div class="thumbnail">
            <%= image_tag "board_mark.jpg" %>
            <div class="caption">
              <h4>Mark Hahnel</h4>
              <p>
                Mark Hahnel is the founder of
                <%= link_to 'figshare', 'http://figshare.org'%>, a repository where users can make all of their
                research outputs citable, shareable and discoverable. He has a PhD in stem cell biology at Imperial
                College London.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 svc-item">
          <div class="thumbnail">
            <%= image_tag "board_hutchison.jpg" %>
            <div class="caption">
              <h4>Viv Hutchison</h4>
              <p>
                Viv Hutchison is the Science Data Management Chief for the <%= link_to 'US Geological
                Survey', 'https://www.usgs.gov/' %>. Her team develops and maintains a suite of science data
                management
                applications and leads a prominent open forum called the Community for Data Integration.

              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 svc-item">
          <div class="thumbnail">
            <%= image_tag "board_marco.jpg" %>
            <div class="caption">
              <h4>Marco Marsella (Treasurer)</h4>
              <p>
                Marco Marsella is Senior Advisor Global Information System at
                <%= link_to 'FAO', 'http://fao.org'%>, where he contributes to the design of the system and the
                promotion of DOIs in the Plant Genetic Resources community.
              </p>
            </div>
          </div>
         </div>

      </div>

      <div class="row text-center">

         <div class="col-md-4 col-sm-4 svc-item">
           <div class="thumbnail">
             <%= image_tag "board_salvatore.jpg" %>
             <div class="caption">
               <h4>Salvatore Mele</h4>
               <p>
                 Salvatore Mele is Senior Advisor for International Relations at <%= link_to 'CERN',
                 'http://home.cern' %>. He contributed to Open Science as CERN Head of Open Access, architecting the SCOAP3 initiative and led teams running digital libraries and designing Open Data solutions. He is one of the founding directors of ORCID. Salvatore holds a PhD in Particle Physics, and previously enjoyed a 15 year career as an experimental physicist at CERN.
               </p>
             </div>
           </div>
         </div>

         <div class="col-md-4 col-sm-4 svc-item">
           <div class="thumbnail">
             <%= image_tag "board_irina.jpg" %>
             <div class="caption">
               <h4>Irina Sens (ex-officio)</h4>
               <p>
                 Irina Sens is the Deputy Director at the <%= link_to 'German National Library of Science and
                 Technology', 'https://www.tib.eu/en/' %> (TIB). She led the German project “Registration of
                 Scientific
                 primary data” which was responsible for the introduction of DOIs for research data.
               </p>
             </div>
           </div>
         </div>

        <div class="col-md-4 col-sm-4 svc-item">
          <div class="thumbnail">
            <%= image_tag "board_torsten.jpg" %>
            <div class="caption">
              <h4>Torsten Reimer</h4>
              <p>
               Torsten Reimer is University Librarian and Dean of the University Library at the University of Chicago. He holds a PhD from the University and Munich and has a background in digital humanities and scholarly communication, having dedicated much of his work to research infrastructure. Before joining UChicago, Torsten was a member of the leadership team at the British Library, where he oversaw content and research services, including the UK DataCite consortium and the BL's repositories. In previous roles, he worked at Imperial College London, Jisc, King's College London and the Bavarian State Library in Munich.
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="row text-center">

        <div class="col-md-4 col-sm-4 svc-item">
          <div class="thumbnail">
            <%= image_tag "board_woolfrey.jpg" %>
            <div class="caption">
              <h4>Lynn Woolfrey</h4>
              <p>
                I am a data scientist with 30 years’ experience curating and sharing data from African governments and research projects. I manage data operations at DataFirst, which is a unit based at the University of Cape Town that distributes data and undertakes data-focused research. Our Open Data repository is Africa’s only CoreTrustSeal certified data repository. I also administer a Secure Research Data Centre at UCT, which I set up to widen access to sensitive African data that cannot be shared online.

I train data managers in government and research institutions across Africa and have participated in UN projects to assist governments to assess their data-readiness for Sustainable Development Goal planning and monitoring. My research field of interest is open government data and information ecosystems for evidence-based policy-making in African countries.
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-4 col-sm-4 svc-item">
          <div class="thumbnail">
            <%= image_tag "board_wittenberg.png" %>
            <div class="caption">
              <h4>Jamie Wittenberg</h4>
              <p>
                Jamie Wittenberg is the Assistant Dean for Research and Innovation Strategies at the University of Colorado Boulder Libraries. Her portfolio includes acquisitions, digitization, discovery, cataloging, collection management, interlibrary loan, IT, metadata, preservation. Wittenberg’s professional interests include community-developed open source software, research information management, digital preservation, and data curation. Her research includes work on automating open access policy implementation, publishing digital 3D objects, and building infrastructure to support sharing and preservation research data.
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>

<section>
  <div class="container section-content">
    <h1>Contact the board</h1>
    <p>
      If you want to contact the DataCite board members, please e-mail
      <%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>
    </p>
  </div>
</section>


<section>
  <div class="container section-content">
    <h1> Past Executive Board Members
    </h1>
    <table class="table board table-striped">
      <thead class="thead-dark">

        <tr>
          <th scope="col">Past Executive Board Members</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tr>
        <td>Rebecca Ross</td>
        <td>CRKN</td>
        <td>2020-2022</td>
      </tr>

      <tr>
        <td>Eleonora Presani</td>
        <td>arXiv.org</td>
        <td>2021</td>
      </tr>
      <tr>
        <td>Herbert Van de Sompel</td>
        <td>DANS</td>
        <td>2019-2020</td>
      </tr>
      <tr>
        <td>Carly Robinson</td>
        <td>DOE</td>
        <td>2019</td>
      </tr>
      <tr>
        <td>Adam Farquhar</td>
        <td>The British Library</td>
        <td>2009-2019</td>
      </tr>
      <tr>
        <td>Mike Frame</td>
        <td>USGS</td>
        <td>2017-2018</td>
      </tr>
      <tr>
        <td>Karen Morgenroth</td>
        <td>National Research Council Canada</td>
        <td>2015-2017</td>
      </tr>
      <tr>
        <td>Wilma van Wezenbeek</td>
        <td>TU Delft</td>
        <td>2012-2017</td>
      </tr>
      <tr>
        <td>Paul Bracke</td>
        <td>Purdue University</td>
        <td>2015-2016</td>
      </tr>
      <tr>
        <td>Brigitte Hausstein</td>
        <td>GESIS</td>
        <td>2015-2016</td>
      </tr>
      <tr>
        <td>Arlette Piquet</td>
        <td>ETHZ</td>
        <td>2010-2015</td>
      </tr>
      <tr>
        <td>York Sure-Vetter</td>
        <td>GESIS</td>
        <td>2012-2014</td>
      </tr>
      <tr>
        <td>Lee-Ann Colemann</td>
        <td>The British Library</td>
        <td>2012-2014</td>
      </tr>
      <tr>
        <td>Patricia Cruse</td>
        <td>California Digital Library</td>
        <td>2009-2014</td>
      </tr>
      <tr>
        <td>Pamela Bjornson</td>
        <td>National Research Council Canada</td>
        <td>2009-2013</td>
      </tr>
      <tr>
        <td>Alfred Heller</td>
        <td>DTIC</td>
        <td>2009-2010</td>
      </tr>
      <tr>
        <td>Uwe Rosemann</td>
        <td>German National Library of Science and Technology</td>
        <td>2009-2010</td>
      </tr>
    </table>
  </div>
</section>




<section>
  <div class="container section-content">
    <h1> Strategic Plan
    </h1>
    <p>
      Every four years, DataCite approves a new strategic plan for achieving our mission. The latest strategic plan is
      below.

    </p>
    <ul>
      <li> <%= link_to 'Strategic Plan: Connecting research, identifying knowledge | DataCite vision to reality', 'https://doi.org/10.14454/79cy-qe15' %>
    </ul>
  </div>
</section>


<section>
  <div class="container section-content">
    <h1> Annual Reports
    </h1>
    <p>
      DataCite prepares an annual report in advance of our annual General Assembly meeting that describes our activities
      for the past year.
    </p>
    <ol>
      <li><%= link_to 'Annual Report 2017', '/documents/datacite_annual_review_final.pdf' %></li>
      <li><%= link_to 'Annual Report 2018', '/documents/datacite_annual_review_2018_final.pdf' %></li>
      <li><%= link_to 'Annual Report 2019', 'https://datacite.org/assets/AnnualReview-DataCite2019.pdf' %></li>
      <li><%= link_to 'Annual Report 2020', '/documents/DataCite%202020%20Annual%20Report.pdf' %></li>
      <li><%= link_to 'Annual Report 2021', '/documents/DataCite_2021_Annual_Report.pdf' %></li>
    </ol>
  </div>
</section>

<section>
  <div class="container section-content">
    <h1> Board Meeting Summaries
    </h1>
    <p>
      As a nonprofit, the DataCite Board meets several times each year, either remotely or in-person. The Board meeting summaries can be found below:
    </p>
    <ul>
      <li><%= link_to '2023 Board Meeting Summaries', 'https://drive.google.com/drive/folders/1qDTpU4lhlYi0K9tZmA8jL6P6Z06BIqpu?usp=sharing' %></li>
      <li><%= link_to '2022 Board Meeting Summaries', 'https://drive.google.com/drive/folders/1ru0MDaMz0FDhImVENeLAieqGMEdU43wH?usp=sharing' %></li>
      <li><%= link_to '2021 Board Meeting Summaries', 'https://drive.google.com/drive/folders/1X97P_JO1kq_hre5PsR-UVeeHD-VY5ZxM?usp=sharing' %></li>
      <li><%= link_to '2020 Board Meeting Summaries', 'https://drive.google.com/drive/folders/1s_iRoe77ciQqkIDBLYguMRAWEzIqfBhE?usp=sharing' %></li>
    </ul>

  </div>
</section>

<section>
  <div class="container section-content">
    <h1> Statutes
    </h1>
    <p>
      As a nonprofit, DataCite is governed by a set of statutes that are approved by our board and members. The latest
      approved version of our statutes is below.
    </p>
    <ul>
      <li><%= link_to 'Statutes', '/documents/statutes.html' %>
      </li>
    </ul>

  </div>
</section>
