---
title: Welcome to DataCite
---

<header class="image-bg-fixed-height randimg">
  <div class="jumbotron">
    <h1>
      Welcome to DataCite
    </h1>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p>
          Connecting Research, Advancing Knowledge
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <p>
      <a class="btn btn-primary btn-lg" href="become.html" role="button">
        Learn more
      </a>
    </p>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="section-heading">
          <%= image_tag "home_search.svg", :width => '70' %>
        </h1>
        <p class="section-paragraph">
          Find what you’re looking for by searching millions of records with
          extensive, reliable metadata.
        </p>
      </div>
      <div class="col-md-3">
        <h1 class="section-heading">
          <%= image_tag "home_reuse.svg", :width => '70' %>
        </h1>
        <p class="section-paragraph">
          Share your data and reuse the data of others to create the highest
          impact in the research community.
        </p>
      </div>
      <div class="col-md-3">
        <h1 class="section-heading">
          <%= image_tag "home_quotes.svg", :width => '70' %>
        </h1>
        <p class="section-paragraph">
          Cite your research sources with confidence, and receive proper credit
          when your work is reused.
        </p>
      </div>
      <div class="col-md-3">
        <h1 class="section-heading">
          <%= image_tag "home_link.svg", :width => '70' %>
        </h1>
        <p class="section-paragraph">
          Connect your research – publications, datasets, software, authors,
          institutions, and funding data all in one place.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">Get started with DataCite!</h1>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <div class="caption">
                <% link_to 'https://doi.datacite.org/' do %>
                <%= image_tag "fabrica.png", :width => '80' %>
                <% end %>
                <p>
                  Create and manage DOIs with DataCite Fabrica.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <div class="caption">
                <% link_to 'https://commons.datacite.org/' do %>
                <%= image_tag "home_search2.svg", :width => '200' %>
                <% end %>
                <p>
		  Discover metadata with DataCite Commons.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <div class="caption">
                <% link_to 'https://support.datacite.org/docs/api' do %>
                <%= image_tag "home_api.png", :width => '80' %>
                <% end %>
                <p>
                  Integrate with DataCite APIs.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>