---
title: Welcome to DataCite
---

    <header class="image-bg-fixed-height randimg">
		<div class="jumbotron">
		  <h1>Welcome to DataCite</h1>
		  <div class="row">
		    <div class="col-md-2"></div>
		    <div class="col-md-8">
				<p>DataCite is a leading global non-profit organisation that provides DOIs for research data.
					We help the research community locate, identify, and cite research with confidence.</p></div>
		    <div class="col-md-2"></div>
		  </div>	  
		  <p><a class="btn btn-primary btn-lg" href="pages/become.html" role="button">Learn more</a></p>
		</div>
    </header>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h1 class="section-heading">
						<%= image_tag "home_search.svg", :width => '70' %>
					</h1>
					<p class="section-paragraph">
						Search and find more than 7 million data records with extensive and reliable metadata.
					</p>
				</div>
				<div class="col-md-3">
					<h1 class="section-heading">
						<%= image_tag "home_reuse.svg", :width => '70' %>
					</h1>
					<p class="section-paragraph">
						Share your data and reuse other's, creating the highest impact in the community.
					</p>
				</div>
				<div class="col-md-3">
					<h1 class="section-heading">
						<%= image_tag "home_quotes.svg", :width => '70' %>
					</h1>
					<p class="section-paragraph">
						Cite your sources with confidence and receive credit whenever your work is reused.
					</p>
				</div>
				<div class="col-md-3">
					<h1 class="section-heading">
						<%= image_tag "home_reuse.svg", :width => '70' %>
					</h1>
					<p class="section-paragraph">
						Connect your research: publications, datasets, software, authors, institutions and funding.
					</p>
				</div>
			</div>
		</div>
	</section>

    <section>
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="svc-heading">Get started!</h1>
				</div>
				<div class="container">
					<div class="row text-center">
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<div class="caption">
									<a href=""><h1><i class="fa fa-search"></i></h1></a>
									<p>Explore our collection to find datasets, software, images
										and other research material.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<div class="caption">
									<a href="http://re3data.org">
										<%= image_tag "home_re3data.png" %>
									</a>
									<p>Find the right place for your work with re3data, the Registry of Research 
										Data Repositories.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<div class="caption">
									<a href=""><h1><i class="fa fa-quote-right"></i></h1></a>
									<p>Generate your references automatically using our easy citation formatting 
										tool.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </section>
	
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="svc-heading">Latest news</h1>
				</div>
				<div class="container">
					<div class="row text-center">
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<%= image_tag "news_generic.jpg" %>
								<h4>Title</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<p class='read-more'><a href="#">Read more</a></p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<%= image_tag "news_generic.jpg" %>
								<h4>Title</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<p class='read-more'><a href="#">Read more</a></p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<%= image_tag "news_generic.jpg" %>
								<h4>Title</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<p class='read-more'><a href="#">Read more</a></p>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </section>