---
title: DataCite - Outreach material
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Outreach Material
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>communication and engagement</h1>
    <p>
      DataCite provides leadership and resources to the scholarly communication
      ecosystem and the research community. All the documents under this
      section are published under a <%= link_to 'Creative Commons Attribution
      2.0 Generic (CC BY 2.0)',
      'https://creativecommons.org/licenses/by/2.0/' %>
      license. Please, feel free to reuse, adapt and modify them.
    </p>
    <p>
      If you are planning to mention DataCite or use DataCite's logo, we would
      greatly appreciate if you could contact us at
      <%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>.
    </p>
  </div>
</section>
<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">About DataCite</h1>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption" data-toggle="collapse" data-target="#info">
                <h2>General information</h2>
              </div>
              <div id="info" class="collapse documentation">
                <ul>
                  <li>Flyer: available soon <%= link_to '', '' %>
                  <li>Poster: available soon <%= link_to '', '' %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption" data-toggle="collapse" data-target="#logo">
                <h2>Logo</h2>
              </div>
              <div id="logo" class="collapse documentation">
                <ul>
                  <li>Logo Wide:
                    <%= link_to '[AI]', 'assets/logo.ai' %>,
                    <%= link_to '[EPS]', 'assets/logo.eps' %>,
                    <%= link_to '[PDF]', 'assets/logo.pdf' %>,
                    <%= link_to '[PNG]', 'assets/logo.png' %>
                  <li>Guidelines: available soon
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption"
                    data-toggle="collapse"
                    data-target="#slides">
                <h2>Slide decks</h2>
              </div>
              <div id="slides" class="collapse documentation">
                <ul>
                  <li>About DataCite:
                    <%= link_to '[KEY]', 'assets/datacite.key' %>,
                    <%= link_to '[PDF]', 'assets/datacite.pdf' %>,
                    <%= link_to '[PPTX]', 'assets/datacite.pptx' %>
                  <li>Technical introduction:
                    <%= link_to '[KEY]', 'assets/tech_intro.key' %>,
                    <%= link_to '[PDF]', 'assets/tech_intro.pdf' %>,
                    <%= link_to '[PPTX]', 'assets/tech_intro.pptx' %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption"
                    data-toggle="collapse"
                    data-target="#members">
                <h2>For members</h2>
              </div>
              <div id="members" class="collapse documentation">
                <ul>
                  <li>Template:
                    <%= link_to '[KEY]', 'assets/template.key' %>,
                    <%= link_to '[PPTX]', 'assets/template.pptx' %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>