---
title: DataCite - Partners
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Partners
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>cooperation</h1>
    <p>
      DataCite works with a number of different organisations from around the
      world, and in many cases the collaboration is formally ratified with a
      Memorandum of Understanding. Below is a list of Partner organisations
      with whom we cooperate.
    </p>
  </div>
</section>
<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">DataCite Partners</h1>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption" data-toggle="collapse" data-target="#cos">
                <%= image_tag "partner_cos.jpg" %><br />
              </div>
              <div id="cos" class="collapse stakeholderdescription">
                <h2>Center for Open Science</h2>
                <p>
                  DataCite and COS are partnering to explore and support
                  activities related to re3data, the open global registry of
                  research data repositories, and the Open Science Framework.
                  Ideas include developing proofs-of-concept to design new
                  features and functionality through integration, testing these
                  ideas with user communities, and creating complementary user
                   services that will benefit the scientific community.
                </p>
                <p>
                  <%= link_to 'http://cos.io', 'http://cos.io' %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption" data-toggle="collapse" data-target="#codata">
                <%= image_tag "partner_codata.jpg" %><br />
              </div>
              <div id="codata" class="collapse stakeholderdescription">
                <h2>CODATA</h2>
                <p>
                  CODATA (International Council for Science: Committee on Data
                  for Science and Technology) works to improve the quality,
                  reliability, management and accessibility of data of
                  importance to all fields of science and technology.
                </p>
                <p>
                  <%= link_to 'http://www.codata.org',
                  'http://www.codata.org' %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption"
                    data-toggle="collapse"
                    data-target="#crossref">
                <%= image_tag "partner_crossref.jpg" %><br />
              </div>
              <div id="crossref" class="collapse stakeholderdescription">
                <h2>Crossref</h2>
                <p>
                  CrossRef is an association of scholarly publishers that
                  develops shared infrastructure to support more effective
                  scholarly communications. DataCite and Crossref and currently
                  working together on developing the
                  <%= link_to 'Event Data', 'eventdata.html' %> service.
                </p>
                <p>
                  <%= link_to 'http://crossref.org', 'http://crossref.org' %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption"
                    data-toggle="collapse"
                    data-target="#force11">
                <%= image_tag "partner_force11.jpg" %><br />
              </div>
              <div id="force11" class="collapse stakeholderdescription">
                <h2>Force11</h2>
                <p>
                  Force11 is a community of scholars, librarians, archivists,
                  publishers and research funders that has arisen organically
                  to help facilitate the change toward improved knowledge
                   creation and sharing.
                </p>
                <p>
                  <%= link_to 'http://force11.org', 'http://force11.org' %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption" data-toggle="collapse" data-target="#wds">
                <%= image_tag "partner_wds.jpg" %><br />
              </div>
              <div id="wds" class="collapse stakeholderdescription">
                <h2>World Data System</h2>
                <p>
                  The World Data System (WDS) is an Interdisciplinary Body of
                  the International Council for Science (ICSU) working towards
                  a world where excellence in science is effectively translated
                  into policy making and socio-economic development.
                </p>
                <p>
                  <%= link_to 'http://www.icsu-wds.org',
                  'http://www.icsu-wds.org' %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption" data-toggle="collapse" data-target="#FAIRsharing">
                <%= image_tag "partner_fairsharing-sdp.jpg" %><br />
              </div>
              <div id="FAIRsharing" class="collapse stakeholderdescription">
                <h2>FAIRsharing</h2>
                <p>
                  A curated, informative and educational resource on data and metadata standards, inter-related to databases and data policies.
                </p>
                <p>
                  <%= link_to 'https://fairsharing.org/', 'https://fairsharing.org/' %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption" data-toggle="collapse" data-target="#rda">
                <%= image_tag "partner_rda.jpg" %><br />
              </div>
              <div id="rda" class="collapse stakeholderdescription">
                <h2>Research Data Alliance</h2>
                <p>
                  RDA provides a neutral space where its members can come
                  together through focused global Working and Interest Groups
                  to develop and adopt infrastructure that promotes
                  data-sharing and data-driven research, and accelerate the
                  growth of a cohesive data community.
                </p>
                <p>
                  <%= link_to 'http://rd-alliance.org',
                  'http://rd-alliance.org' %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 svc-item">
            <div class="thumbnail">
              <div class="caption" data-toggle="collapse" data-target="#orcid">
                <%= image_tag "partner_orcid.jpg" %><br />
              </div>
              <div id="orcid" class="collapse stakeholderdescription">
                <h2>ORCID</h2>
                <p>
                  ORCID is an open, non-profit, community-driven effort to
                  create and maintain a registry of unique researcher
                  identifiers and a transparent method of linking research
                  activities and outputs to these identifiers. DataCite and
                  ORCID are parners of the <%= link_to 'THOR Project',
                  'http://project-thor.eu' %>.
                </p>
                <p>
                  <%= link_to 'http://orcid.org', 'http://orcid.org' %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container section-content">
    <h1>become partner</h1>
    <p>
      If you want to start a project or cooperate with DataCite, please contact
      <%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>.
    </p>
  </div>
</section>
