---
title: DataCite - Search
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Search</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>service description</h1>
			<p>
			DataCite gathers metadata for each DOI assigned to an object. The metadata is used  for a large  database of research data that can be queried directly to find data, obtain stats and explore connections.
			</p>
			<p>
			To showcase and expose the metadata gathered, DataCite provides an integrated search interface, where it is possible to search, filter and extract all the details from a collection of millions of records.
			</p>
			<p>
			This interface complements the OAI-PMH service, providing an actionable end-point to query DataCite's metadata collection. 
			</p>
			<h1>access details</h1>
			<p>
				- Accessible through: <%= link_to 'http://search.datacite.org', 'http://search.datacite.org' %> and <%= link_to 'http://search.labs.datacite.org', 'http://search.labs.datacite.org' %><br />
				- Intended users: DataCite Members, Member Users, Community<br />
				- Availability: <%= link_to 'http://status.datacite.org', 'http://status.datacite.org' %>
			</p>
			<h1>learn more</h1>
			<p>
				- DataCite Metadata Schema: <%= link_to 'http://schema.datacite.org', 'http://schema.datacite.org' %><br />
				- DataCite Blog: <%= link_to 'http://blog.datacite.org/from-pilot-to-service/', 'http://blog.datacite.org/from-pilot-to-service/' %> 
			</p>
			
			
		</div>
	</section>
