---
title: DataCite - Staff
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Staff
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>about us</h1>
    <p>
      DataCite is a distributed organization with a central business office
      located at the German National Library of Science and Technology in
      Hannover, Germany.
    </p>
  </div>
</section>
<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">Staff members</h1>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_matt.jpg" %>
              <div class="caption">
                <h4>
                  Matthew Buys
                  <br />
                  (Executive Director)
                  <br />
                  @mjbuys
                </h4>
                <p>
                Matthew leads a passionate and committed team at DataCite who provide the means to create, find, cite, connect, and use research globally. Based in Amsterdam, Matthew focusses on building DataCite into a sustainable global community. Previously Matthew was the Director of Engagement at ORCID where he played an important role in growing the community into an international-scale research effort with over 1,000 member organizations and 7 million users. He completed a BA (Psychology) and Post-Graduate Diploma in Management at the University of the Witwatersrand. In addition, Matthew has also completed courses in Java, Flash, XML, html, Perl, and SQL.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_helena.jpg" %>
              <div class="caption">
                <h4>
                  Helena Cousijn
                  <br />
                  (Community Engagement Director)
                  <br />
                  @helenacousijn
                </h4>
                <p>
                  Helena is responsible for all DataCite's membership and community activities.
                  She's committed to DataCite's mission of enabling data sharing and reuse and is especially passionate about data citation.
                  It's important to her to communicate in a way that makes DataCite's services accessible to everyone.
                  Before joining DataCite, Helena worked as Senior Product Manager for Research Data Management Solutions at Elsevier.
                  She holds a DPhil in Neuroscience from the University of Oxford.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_britta.jpg" %>
              <div class="caption">
                <h4>
                  Britta Dreyer
                  <br />
                  (Business Manager)
                  <br />
                  @dreyer_britta
                </h4>
                <p>
                  Britta manages the DataCite business office. Member
                  support, accounting, and managing DataCite's day-to-day
                  business are her main activities. She holds a BSM from the
                  Pepperdine University in Malibu and an MBA from the
                  University of Applied Sciences and Arts in Hannover. Before
                  coming to DataCite, Britta managed the family business. Her
                  fields of work include human resources, marketing, and
                  process optimization. She is passionate about business
                  planning, project management, communication psychology, and
                  her three children.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_martin.jpg" %>
              <div class="caption">
                <h4>
                  Martin Fenner
                  <br />
                  (Technical Director)
                  <br />
                  @mfenner
                </h4>
                <p>
                  Martin envisions, develops, implements and manages
                  a robust technical architecture for DataCite. Until 2015
                  he was technical lead for the PLOS Article-Level Metrics
                  project. Martin has a medical degree from
                  the Free University of Berlin and is a Board-certified
                  medical oncologist.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_kristian.jpg" %>
              <div class="caption">
                <h4>
                  Kristian Garza
                  <br />
                  (Product Desginer)
                  <br />
                  @kriztean
                </h4>
                <p>
                <p>
         Kristian is responsible for determining information architecture, user research, and design to support an intuitive user journey for all DataCite services and products.
                Previously, he contributed to the development and implementation of a robust technical architecture DataCite.
                Before he held different research positions within the MSSL and the ELIXIR Interoperability platform.
                Kristian has a Ph.D. degree in Computer Science from the University of Manchester.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_richard.jpg" %>
              <div class="caption">
                <h4>
                  Richard Hallett
                  <br />
                  (Application Developer)
                </h4>
                <p>
                  Richard joined DataCite in late 2017. He contributes to the DataCite
                  technical infrastructure and the EU-funded FREYA project.
                  Having worked for years in software development for a variety
                  of different organizations and  industries (from large multinational
                  companies, to small web agencies,
                  to not for profits and then back into the commercial sector with e-commerce),
                  Richard is pleased to be working in an open-source environment.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="row text-center">

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_mary.jpg" %>
              <div class="caption">
                <h4>
                  Mary Hirsch
                  <br />
                  (Member Support Manager)
                </h4>
                <p>
                  Mary is our Member Support Manager and takes care of making sure DataCite provides exceptional support for its community. Mary worked as a technical analyst at a global information company before transitioning to work as a documentalist at a research institute in Barcelona. She is passionate about Open Science.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_sarala.png" %>
              <div class="caption">
                <h4>
                  Sarala Wimalaratne
                  <br />
                  (Product Engineering Director)
                </h4>
                <p>
                 Sarala is responsible for the product vision and roadmap at DataCite. She collaborates with external and internal stakeholders to improve existing member services and identify potential member service opportunities. She has been working with the Open Science and PID communities for many years. Before joining DataCite, Sarala spent 10 years at the EMBL-EBI leading multiple data integration projects including the Identifiers.org resource. She holds a PhD in Bioengineering and a BE in Software Engineering from the University of Auckland.
                </p>
              </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 svc-item">
          <div class="thumbnail">
            <%= image_tag "staff_paul.jpg" %>
            <div class="caption">
              <h4>
                Paul Vierkant
                <br />
                (Outreach Manager)
              </h4>
              <p>
                Paul is our outreach manager at DataCite contributing to the DFG-funded projects re3data COREF and ORCID DE. Prior to DataCite Paul worked for the Helmholtz Open Science Office and different universities where he was involved in building publication and data repositories. As a dedicated Open Science advocate Paul strives to spread the idea of openness in scholarly communication. Paul loves beautiful infographics and even more his crazy family.
              </p>
            </div>
          </div>
        </div>

      </div>
       <div class="row text-center">

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_veronica.jpg" %>
              <div class="caption">
                <h4>
                  Veronica Gomes Ferreira
                  <br />
                  (Intern)
                </h4>
                <p>
                 Veronica is our newest addition to the team. She is our intern from Leiden Universitait finishing her bachelor’s in International Studies with a specialization in Latin America. She works closely with our Community Engagement Team to provide support in our expansion to Latin America. Veronica is particularly interested in how data management helps improve and contribute to the global research community.
                </p>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
</section>
