---
title: DataCite - Staff
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Staff
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>about us</h1>
    <p>
      DataCite is a distributed organization with a central business office
      located at the German National Library of Science and Technology in
      Hannover, Germany.
    </p>
  </div>
</section>
<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">Staff members</h1>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_trisha.jpg" %>
              <div class="caption">
                <h4>
                  Patricia Cruse
                  <br />
                  (Executive Director)
                  <br />
                  @trishacruse
                </h4>
                <p>
                  Trisha leads DataCite with a strong commitment and passion
                  for data sharing. As Executive Director, her role is to
                  advance DataCite’s mission, build strategic partnerships and
                  work with a diverse community of stakeholders. Prior to
                  joining DataCite, Trisha was the Director of the University
                  of California Curation Center (UC3) at the California Digital
                  Library (CDL). In addition, Trisha also is a co-PI on the
                  DataONE initiative and co-leads sustainability and governance
                  activities. Trisha holds an MLIS from the University of
                  California, Berkeley.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_placeholder.png" %>
              <div class="caption">
                <h4>
                  Robin Dasler
                  <br />
                  (Product Manager)
                </h4>
                <p>
                   Robin is our product manager and oversees development of products and
                   contributes to the EU-funded FREYA project. 
                   Before joining DataCite, Robin was a senior fellow in CERN's Scientific 
                   Information Service and lead of the sustainability segment of the THOR Project.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_britta.jpg" %>
              <div class="caption">
                <h4>
                  Britta Dreyer
                  <br />
                  (Business Manager)
                  <br />
                  @dreyer_britta
                </h4>
                <p>
                  Britta manages the DataCite business office. Member
                  support, accounting, and managing DataCite's day-to-day
                  business are her main activities. She holds a BSM from the
                  Pepperdine University in Malibu and an MBA from the
                  University of Applied Sciences and Arts in Hannover. Before
                  coming to DataCite, Britta managed the family business. Her
                  fields of work include human resources, marketing, and
                  process optimization. She is passionate about business
                  planning, project management, communication psychology, and
                  her three children.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_martin.jpg" %>
              <div class="caption">
                <h4>
                  Martin Fenner
                  <br />
                  (Technical Director)
                  <br />
                  @mfenner
                </h4>
                <p>
                  Martin envisions, develops, implements and manages
                  a robust technical architecture for DataCite. Until 2015 
                  he was technical lead for the PLOS Article-Level Metrics 
                  project. Martin has a medical degree from
                  the Free University of Berlin and is a Board-certified
                  medical oncologist.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_kristian.jpg" %>
              <div class="caption">
                <h4>
                  Kristian Garza
                  <br />
                  (Application Developer)
                  <br />
                  @kriztean
                </h4>
                <p>
                  Kristian contributes to the development and
                  implementation of a robust technical architecture for
                  DataCite as well as DataCite’s role in
                  the Make Data Count Project. Improving to the community-wide
                  adoption of good data sharing practices is one of his main
                  goals. Previously he held different research positions within
                  the CLUSTER II Mission at the MSSL and at the ELIXIR
                  Interoperability platform. Kristian has a PhD degree in
                  Computer Science from the University of Manchester.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_richard.png" %>
              <div class="caption">
                <h4>
                  Richard Hallett
                  <br />
                  (Application Developer)
                </h4>
                <p>
                  Richard joined DataCite in late 2017. He contributes to the DataCite
                  technical infrastructure and the EU-funded FREYA project. 
                  Having worked in several for years in software development for a variety 
                  of different organizations and  industries (from large multinational 
                  companies, to small web agencies, 
                  to not for profits and then back into the commercial sector with e-commerce), 
                  Richard is pleased to be working in an open-source environment.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
