---
title: DataCite - Team
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      The DataCite Team
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>about us</h1>
    <p>
      DataCite is a distributed organization with a central business office
      located at the German National Library of Science and Technology in
      Hannover, Germany.
    </p>
  </div>
</section>
<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">Team members</h1>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_matt.jpg" %>
              <div class="caption">
                <h4>
                  Matthew Buys
                  <br />
                  (Executive Director)
                  <br />
                  @mjbuys
                </h4>
                <p>
                Matthew leads a passionate and committed team at DataCite who provide the means to create, find, cite, connect, and use research globally. Based in Amsterdam, Matthew focusses on building DataCite into a sustainable global community. Previously Matthew was the Director of Engagement at ORCID where he played an important role in growing the community into an international-scale research effort with over 1,000 member organizations and 7 million users. He completed a BA (Psychology) and Post-Graduate Diploma in Management at the University of the Witwatersrand. In addition, Matthew has also completed courses in Java, Flash, XML, html, Perl, and SQL.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_helena.jpg" %>
              <div class="caption">
                <h4>
                  Helena Cousijn
                  <br />
                  (Community Engagement Director)
                  <br />
                  @helenacousijn
                </h4>
                <p>
                  Helena is responsible for all DataCite's membership and community activities.
                  She's committed to DataCite's mission of enabling data sharing and reuse and is especially passionate about data citation.
                  It's important to her to communicate in a way that makes DataCite's services accessible to everyone.
                  Before joining DataCite, Helena worked as Senior Product Manager for Research Data Management Solutions at Elsevier.
                  She holds a DPhil in Neuroscience from the University of Oxford.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_britta.jpg" %>
              <div class="caption">
                <h4>
                  Britta Dreyer
                  <br />
                  (Business Manager)
                  <br />
                  @dreyer_britta
                </h4>
                <p>
                  Britta manages the DataCite business office. Member
                  support, accounting, and managing DataCite's day-to-day
                  business are her main activities. She holds a BSM from the
                  Pepperdine University in Malibu and an MBA from the
                  University of Applied Sciences and Arts in Hannover. Before
                  coming to DataCite, Britta managed the family business. Her
                  fields of work include human resources, marketing, and
                  process optimization. She is passionate about business
                  planning, project management, communication psychology, and
                  her three children.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_veronica.jpg" %>
              <div class="caption">
                <h4>
                  Veronica Gomes Ferreira
                  <br />
                  (Intern)
                </h4>
                <p>
                 Veronica is among our newest additions to the team. She is our intern from Leiden Universitait finishing her bachelor’s in International Studies with a specialization in Latin America. She works closely with our Community Engagement Team to provide support in our expansion to Latin America. Veronica is particularly interested in how data management helps improve and contribute to the global research community.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_kristian.jpg" %>
              <div class="caption">
                <h4>
                  Kristian Garza
                  <br />
                  (Product Designer)
                  <br />
                  @kriztean
                </h4>
                <p>
                <p>
         Kristian is responsible for determining information architecture, user research, and design to support an intuitive user journey for all DataCite services and products.
                Previously, he contributed to the development and implementation of a robust technical architecture DataCite.
                Before he held different research positions within the MSSL and the ELIXIR Interoperability platform.
                Kristian has a Ph.D. degree in Computer Science from the University of Manchester.
                </p>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_richard.jpg" %>
              <div class="caption">
                <h4>
                  Richard Hallett
                  <br />
                  (Software Engineering Manager)
                </h4>
                <p>
                  Richard joined DataCite in late 2017 and contributes to the DataCite
                  technical infrastructure.
                  Having worked for years in software development for a variety
                  of different organizations and industries (from large multinational
                  companies, to small web agencies,
                  to not for profits and then back into the commercial sector with e-commerce),
                  Richard is pleased to be working in an open-source environment.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="row text-center">

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_mary.jpg" %>
              <div class="caption">
                <h4>
                  Mary Hirsch
                  <br />
                  (Member Support Manager)
                </h4>
                <p>
                  Mary is our Member Support Manager and takes care of making sure DataCite provides exceptional support for its community. Mary worked as a technical analyst at a global information company before transitioning to work as a documentalist at a research institute in Barcelona. She is passionate about Open Science.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_liz.jpg" %>
              <div class="caption">
                <h4>
                  Liz Krznarich
                  <br />
                  (Technical Lead, ROR)
                </h4>
                <p>
                  Liz leads development of software and infrustructure for the Research Organization Registry (ROR).
                  Liz has over a decade of experience in technology and higher education. Before joining DataCite, Liz was a technical lead and software developer at ORCID. She also has an MLIS from the University of Wisconsin-Madison and previously worked in various academic library and IT roles.
                </p>
              </div>
            </div>
          </div>

        <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_paul.jpg" %>
              <div class="caption">
                <h4>
                  Paul Vierkant
                  <br />
                  (Outreach Manager, DataCite/ROR)
                </h4>
                <p>
                Paul is our outreach manager at DataCite contributing to the DFG-funded projects re3data COREF and ORCID DE. Prior to DataCite Paul worked for the Helmholtz Open Science Office and different universities where he was involved in building publication and data repositories. As a dedicated Open Science advocate Paul strives to spread the idea of openness in scholarly communication. Paul loves beautiful infographics and even more his crazy family.
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="row text-center">


          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_suzanne.png" %>
              <div class="caption">
                <h4>
                  Suzanne Vogt
                  <br />
                  (Application Developer)
                  <br />
                  @svogttweets
                </h4>
                <p>
                  Suzanne joined DataCite in November 2020 as an  application developer. She lives in the seacoast of New Hampshire with her family.  Suzanne will contribute to the DataCite technical infrastructure.  She has worked as a software developer for a number of companies in the U.S. with a wide range of technologies and applications, most recently in higher education at the University of New Hampshire library moving forward the modernization of their library digital repository.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_sarala.png" %>
              <div class="caption">
                <h4>
                  Sarala Wimalaratne
                  <br />
                  (Product Engineering Director)
                </h4>
                <p>
                 Sarala is responsible for the product vision and roadmap at DataCite. She collaborates with external and internal stakeholders to improve existing member services and identify potential member service opportunities. She has been working with the Open Science and PID communities for many years. Before joining DataCite, Sarala spent 10 years at the EMBL-EBI leading multiple data integration projects including the Identifiers.org resource. She holds a PhD in Bioengineering and a BE in Software Engineering from the University of Auckland.
                </p>
              </div>
            </div>
          </div>

                    <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_xiaoli.png" %>
              <div class="caption">
                <h4>
                  Xiaoli Chen
                  <br />
                  (FAIR Workflows Project Lead)
                </h4>
                <p>
                 Xiaoli is the Implementing FAIR Workflows project lead and is responsible for the outreach effort in the APAC region while co-chairing the DataCite APAC Experts Group. She holds an MLIS from Syracuse University and is working towards her Ph.D. in the same field from the University of Sheffield. Before joining DataCite Xiaoli worked at CERN in parallel with her Ph.D. research on Open Science research practices among high energy physicists, and contributed to the development of the various research data services there. Ukulele learner, bunny owner.
              </div>
            </div>
          </div>

                         <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_joseph.png" %>
              <div class="caption">
                <h4>
                  Joseph Rhoads
                  <br />
                  (Application Developer)
                </h4>
                <p>
                Joseph works on the development team and contributes to the technical infrastructure.  He lives in Providence, Rhode Island with his family.  Prior to joining Datacite, Joseph led the repository team for nine and a half years at the Brown University Library to develop the Brown Digital Repository.  Prior to that, Joseph studied mathematics and holds degrees in Computational Mathematics, Industrial and Applied Mathematics as well as Biomedical Mathematics.  When not working, Joseph spends his time running around after his energetic toddler, traveling with his partner, playing board games, and reading as much science fiction and fantasy as he can get his hands on.
              </div>
            </div>
          </div>

                                   <div class="col-md-4 col-sm-4 svc-item">
            <div class="thumbnail">
              <%= image_tag "staff_mike.jpg" %>
              <div class="caption">
                <h4>
                  Mike Bennett
                  <br />
                  (Application Developer)
                </h4>
                <p>
                Mike hails from sunny Scotland and his background is as a self taught developer with an interest in building open tools and making things accessible. Prior to joining DataCite, he was the technical lead on the Bodleian Library's Broadside Ballads Online project and a developer with the University of Edinburgh Digital Library. In his spare time he can be found bothering a variety of string instruments or trying to solve a cryptic crossword.
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
</section>
